Source: barbican
Section: net
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               dh-systemd,
               openstack-pkg-tools (>= 40~),
               po-debconf,
               python-all,
               python-pbr (>= 1.8),
               python-setuptools,
               python-sphinx
Build-Depends-Indep: alembic (>= 0.8.4),
                     bandit (>= 0.13.2),
                     python-babel (>= 2.3.4),
                     python-coverage,
                     python-cffi,
                     python-crypto,
                     python-cryptography (>= 1.0),
                     python-dateutil,
                     python-eventlet (>= 0.18.4),
                     python-falcon,
                     python-fixtures (>= 3.0.0),
                     python-hacking (>= 0.10.0),
                     python-jsonschema,
                     python-keystoneclient (>= 1:2.0.0),
                     python-keystonemiddleware (>= 4.0.0),
                     python-pykmip (>= 0.5.0),
                     python-ldap3 (>= 0.9.8.2),
                     python-mock (>= 2.0),
                     python-openssl (>= 0.14),
                     python-openstackdocstheme (>= 1.5.0),
                     python-oslo.context (>= 2.9.0),
                     python-oslo.config (>= 1:3.14.0),
                     python-oslo.i18n (>= 2.1.0),
                     python-oslo.log (>= 2.0.0),
                     python-oslo.messaging (>= 5.2.0),
                     python-oslo.middleware (>= 3.0.0),
                     python-oslo.policy (>= 1.9.0),
                     python-oslo.serialization (>= 2.0.0),
                     python-oslo.service (>= 1.10.0),
                     python-oslo.utils (>= 3.16.0),
                     python-oslosphinx (>= 2.2.0.0),
                     python-oslotest (>= 1.10.0),
                     python-paste,
                     python-pastedeploy,
                     python-pecan (>= 1.0.0),
                     python-pycadf (>= 1.1.0),
                     python-requests (>= 2.10.0),
                     python-six (>= 1.9.0),
                     python-sqlalchemy (>= 1.0.10),
                     python-stevedore (>= 1.16.0),
                     python-tempest (>= 1:12.1.0),
                     python-testtools (>= 1.4.0),
                     python-webob,
                     subunit,
                     tempest (>= 1:12.1.0),
                     testrepository,
Standards-Version: 3.9.8
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-barbican?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-barbican -b debian/newton
Homepage: https://github.com/openstack/barbican

Package: python-barbican
Architecture: all
Section: python
Depends: alembic (>= 0.8.4),
         python-babel (>= 2.3.4),
         python-cffi,
         python-crypto,
         python-cryptography (>= 1.0),
         python-dateutil,
         python-eventlet (>= 0.18.4),
         python-falcon,
         python-jsonschema,
         python-keystonemiddleware (>= 4.0.0),
         python-ldap3 (>= 0.9.8.2),
         python-openssl (>= 0.14),
         python-oslo.context (>= 2.9.0),
         python-oslo.config (>= 1:3.14.0),
         python-oslo.i18n (>= 2.1.0),
         python-oslo.log (>= 2.0.0),
         python-oslo.messaging (>= 5.2.0),
         python-oslo.middleware (>= 3.0.0),
         python-oslo.policy (>= 1.9.0),
         python-oslo.serialization (>= 2.0.0),
         python-oslo.service (>= 1.10.0),
         python-oslo.utils (>= 3.16.0),
         python-pbr (>= 1.8),
         python-paste,
         python-pastedeploy,
         python-pecan (>= 1.0.0),
         python-pycadf (>= 1.1.0),
         python-pymysql,
         python-six (>= 1.9.0),
         python-sqlalchemy (>= 1.0.10),
         python-stevedore (>= 1.16.0),
         python-webob,
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack Key Management Service - Python files
 The Barbican project provides services for secure storage, provisioning and
 management of sensitive client secret information such as encryption keys. It
 is aims at being useful for all environments, including large ephemeral
 Clouds.
 .
 This package contains the Python files and libraries.

Package: barbican-common
Architecture: all
Depends: adduser,
         dbconfig-common,
         debconf,
         python-barbican (= ${binary:Version}),
         python-pysqlite2,
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack Key Management Service - common files
 The Barbican project provides services for secure storage, provisioning and
 management of sensitive client secret information such as encryption keys. It
 is aims at being useful for all environments, including large ephemeral
 Clouds.
 .
 This package contains common files for Barbican.

Package: barbican-api
Architecture: all
Depends: adduser,
         barbican-common (= ${binary:Version}),
         python-openstackclient,
         q-text-as-data,
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack Key Management Service - API Server
 The Barbican project provides services for secure storage, provisioning and
 management of sensitive client secret information such as encryption keys. It
 is aims at being useful for all environments, including large ephemeral
 Clouds.
 .
 This package contains the Barbican API Server.

Package: barbican-worker
Architecture: all
Depends: barbican-common (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack Key Management Service - Worker Node
 The Barbican project provides services for secure storage, provisioning and
 management of sensitive client secret information such as encryption keys. It
 is aims at being useful for all environments, including large ephemeral
 Clouds.
 .
 This package contains the Barbican Worker Node.

Package: barbican-keystone-listener
Architecture: all
Depends: barbican-common (= ${binary:Version}),
         ${misc:Depends},   
         ${python:Depends}
Description: OpenStack Key Management Service - Keystone Listener
 The Barbican project provides services for secure storage, provisioning and
 management of sensitive client secret information such as encryption keys. It
 is aims at being useful for all environments, including large ephemeral
 Clouds.
 .
 This package contains the Barbican Keystone Listener daemon.

Package: barbican-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: OpenStack Key Management Service - doc
 The Barbican project provides services for secure storage, provisioning and
 management of sensitive client secret information such as encryption keys. It
 is aims at being useful for all environments, including large ephemeral
 Clouds.
 .
 This package contains the documentation.
